
.container {
    background-color: white;
    position: relative;
    min-height: 600px;
    height: calc( 100% - 60px);
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 960px;
    padding-left: 20px;
    padding-top: 60px;
    font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.glyph {
    border-bottom: 1px dotted #ccc;
    padding: 10px 0 20px;
    margin-bottom: 20px;
}

.preview-scale,
.preview-glyphs {
    display: flex;
    flex-direction: row;
}

.preview-scale {
    color: #888;
    font-size: 12px;
    margin-top: 24px;
}

.step {
    flex-grow: 1;
    line-height: 0.5;
}

md-dialog-actions >button {
    width: 200px;
}

html {
    width: 100%;
    height: 100%;
    background-color: aliceblue;
}

body {
    position: relative;
    margin: 0 auto !important;
    width: 1200px;
    height: 100%;
    background-color: white;
}

.lst-nv {
    position: absolute;
    display: inline-block;
    width: 20%;
}

.main-nv {
    height: 80%;
    position: absolute;
    left: 25%;
    display: inline-block;
    width: 75%;
}
.card-nv {
    font-size: 16px !important;
    text-transform: none !important;
    text-align: left !important;
    padding-top: 16px;
    padding-left: 35px !important;
    width: 100%;
    height: 50px;
}
.card-click{
    background-color: #009688 !important;
    color: white !important;
}
.card-nv:hover {
    background-color: rgba(0, 150, 136, 0.21) !important;
}
.card-click:hover{
    background-color: #009688 !important;
}
.btn-add-nv {
    width: 100%;
    height: 50px;
}

.input-search {
    left: 35px;
    height: 36px;
    position: absolute;
    display: inline-block;
    width: 210px;
}

.icon-search {

    height: 23px;
    width: 23px;
    z-index: 10;
    position: absolute;
    left: 5px;
    top: 7px;
}

.i-s {
    border-color: #c0c0c0;
    outline: none;
    padding-left: 33px;
    border-radius: 10px;
    height: 30px;
    width: 200px;
    position: absolute;
}

.select-hd {
    position: absolute;
    left: 277px;
    margin-left: 20px;
    width: 200px;
    display: inline-block;

}

.hd-main {
    height: 50px;
    position: relative;
}

md-input-container {
    margin: 0 !important;
}

md-select {
    width: 100%;
}

md-input-container {
    width: 100%;
}

.date-l {
    top: 0;
    position: absolute;
    left: 500px;
    width: 245px;
}

.dt {
    width: 90%;
    margin: 10px auto;
    height: 100%;
}

.tb-hd {
    height: 80%;
    width: 100%;
}

.add-hd {
    position: relative;
    width: 60%;
    padding-left: 35px;
}

.input-add {
    float: left;
    width: 50%;
}

.button-add {
    top: -10px;
    left: 66px;
    width: 50px;
    position: absolute;
}

.top-main {
    padding-top: 20px;
    width: 90%;
    margin: 0 auto;
}

.btn-nomal {
    text-transform: none !important;
    font-size: 13px !important;
}

.bot-bnt {
    margin-top: 30px;
    margin-right: 60px;
    float: right;
}

.l-k {
    padding-top: 7px;
    height: 36px;
    padding-left: 20px;
    width: 200px !important;
    display: inline-block;
}

.l-k > md-checkbox {
    margin: 0 !important;
}
