<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="icon" sizes="192x192" href="favicon.ico">
    <title>Quản lý đơn hàng</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/angular-material.min.css">
    <link rel="stylesheet" href="css/dataTable.css">
    <link rel="stylesheet" href="css/material.css">
    <script src="js/angular.min.js"></script>
    <script src="js/papaparse.min.js"></script>
    <script src="js/angular-aria.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <script src="js/angular-material.min.js"></script>
    <script src="js/moment.min.js"></script>
    <script src="js/dataTable.min.js"></script>
    <script src="js/ng-file-upload.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
    <script src="js/main.js"></script>
</head>
<body>
<div ng-app="MyApp" ng-controller="AppCtrl" class="container">
    <div class="lst-nv">
        <md-button class="md-raised md-primary btn-add-nv" ng-click="addNewNV($event)">
            <md-icon md-svg-src="img/ic_person_add_black_24px.svg" style="padding-right: 10px!important;"></md-icon>
            Thêm Nhân Viên
        </md-button>
        <div class="main-lst-nv">
            <md-button ng-click="selectNv($index)" class="card-nv md-raised" ng-repeat="nv in lstNV "
                       ng-class="{'card-click':$index==index}">{{nv.name}}
            </md-button>
        </div>
    </div>
    <div class="main-nv">
        <md-card class="top-main">
            <form class="add-hd" ng-submit="addHD($event)">
                <div class="input-add">
                    <md-input-container class="md-icon-float md-block">
                        <label>Nhập mã đơn hàng ...</label>
                        <md-icon md-svg-src="img/ic_note_add_black_24px.svg"></md-icon>
                        <input ng-model="maDonHang" type="text" style="text-transform: uppercase"
                               ng-disabled="index==0">
                    </md-input-container>
                </div>
                <md-button type="submit" class="md-raised button-add md-primary" ng-disabled="index==0">Thêm</md-button>
            </form>
            <div class="hd-main" style="color: #444">
                <form class="input-search" ng-submit="searchHD($event)">
                    <md-input-container class="md-icon-float md-block">
                        <label>Tìm hóa đơn ...</label>
                        <md-icon md-svg-src="img/ic_search_black_24px.svg"></md-icon>
                        <input ng-model="searchKey" type="text" style="text-transform: uppercase">
                    </md-input-container>
                </form>
                <div class="select-hd">
                    <md-input-container flex="100">
                        <label>Lọc hóa đơn</label>
                        <md-select name="locHoaDon" ng-model="locDay" ng-change="locHd()" required>
                            <md-option value="day">Ngày</md-option>
                            <md-option value="month">Tháng</md-option>
                            <md-option value="all">Tất cả</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div class="date-l">
                    <md-datepicker ng-if="locDay=='month'" md-mode="month" ng-disabled="!locDay||locDay=='all'"
                                   ng-change="locHd()" ng-model="dateSearch" md-placeholder="Nhập ngày"
                                   md-date-locale="dateLocaleMonth"></md-datepicker>
                    <md-datepicker ng-if="!locDay||locDay=='all'||locDay=='day'" ng-disabled="!locDay||locDay=='all'"
                                   ng-change="locHd()" ng-model="dateSearch" md-placeholder="Nhập ngày"
                                   md-date-locale="dateLocale"></md-datepicker>
                </div>
            </div>
        </md-card>
        <div class="tb-hd">
            <dtable options="options" rows="data" class="material" on-page="paging(offset, size)"></dtable>
        </div>
        <div class="bot-bnt">
            <input type="file" style="display: none">
            <md-card class="l-k">
                <md-checkbox ng-model="blackLst" class="md-primary" ng-change="checkBlackLst()" ng-class="">Lọc khách
                    hàng đen
                </md-checkbox>
            </md-card>
            <md-button ngf-select="upHd(file,$event)" ng-model="file" ngf-accept="'.csv'" class="md-raised btn-nomal"
                       md-colors="{background: 'green'}">
                <md-icon md-svg-src="img/ic_file_upload_black_24px.svg"></md-icon>
                Tải lên đơn hàng
            </md-button>
            <md-button ngf-select="upBlackLst(file,$event)" ng-model="file" ngf-accept="'.csv'"
                       md-colors="{background: 'blue-grey'}"
                       class="md-raised btn-nomal">
                <md-icon md-svg-src="img/ic_file_upload_black_24px.svg"></md-icon>
                Tải lên KH đen
            </md-button>
        </div>
    </div>
</div>
</div>
</body>
</html>
